body{
    /* background-image: linear-gradient(#E1A2B8, #9F2BC1); */
    /* background: rgba(225, 162, 184, 1); */
    background: #23C4ED; 
}
#heading
{
    color: #239fbe;
    text-transform: uppercase;
    font-style:italic;
    font-weight: bolder;
}